<div class="page-header">
  <h1>首页</h1>
</div>

<h3>
	<% if sign_in? %>
		<%= current_user.name %> 谢谢你登录了我们网站！你已经登录了 <%= current_user.login_count %> 次了，总共登录时间是 <%= current_user.login_time%> 秒了。
	<% else %>
		你好，陌生人！你没有登录，或者你还没有注册，但是你已经浏览这个页面 <%= current_visitor.visitor_time %> 秒了。
	<% end %>
</h3>

<h5>现在总共有 <%= User.active.size %> 个注册用户在查看这个网站，有 <%= Visitor.active.size %> 个陌生人在查看这个网站</h5>
